<div class="container p-2">
    <div class="row">
        <div class="col-md-9">
            <h1 class="text-center text-muted">Relación de Animales</h1>
        </div>
        <div class="col-md-3">
            <a href="/links/addA" class="btn btn-success">Nuevo Animal</a>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Chapeta</th>
                        <th>peso</th>
                        <th>Color</th>
                        <th>Genero</th>
                        <th>Vr Macho</th>
                        <th>Vr Hembra</th>
                        <th>ID Finca</th>
                        <th>ID Compra</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each links }}
                        <tr>
                            <td class="text-right"> {{idanimal}} </td>
                            <td class="text-center"> {{chapeta}} </td>
                            <td class="text-right"> {{peso}} </td>
                            <td> {{color}} </td>
                            <td class="text-center"> {{genero}} </td>
                            <td class="text-right"> {{vrmacho}} </td>
                            <td class="text-right"> {{vrhembra}} </td>
                            <td class="text-right"> {{fincaid}} </td>
                            <td class="text-right"> {{compraid}} </td>
                            <td> 
                                <a href="/links/editA/{{idanimal}}" class="btn btn-info">Update</a>
                                <a href="/Links/deleteA/{{idanimal}}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                        {{else}}
                            <div class="col-md-3 mx-auto p-1">
                                    <p>No hay registros</p>
                                    <a href="/links/addA" class="btn btn-info">Ingresar Uno</a>
                            </div>

                    {{/each}}                                
                </tbody>
            </table>
        </div>
       
    </div>
</div>