<div class="container p-2">
    <div class="row">
        <div class="col-md-9">
            <h1 class="text-center text-muted">Relación de Proveedores</h1>
        </div>
        <div class="col-md-3">
            <a href="/links/addP" class="btn btn-success">Nuevo Proveedor</a>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                    </tr>
                    <tr class="text-center">
                        <th>#</th>
                        <th>CC o NIT</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Telefono</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each links }}
                        <tr>
                            <td class="text-right"> {{  idprov }} </td>
                            <td class="text-right"> {{cc}} </td>
                            <td> {{fullname}} </td>
                            <td> {{dir}} </td>
                            <td class="text-right"> {{phone}} </td>
                            <td class="mx-auto"> 
                            <a href="/links/editP/{{idprov}}" class="btn btn-info">Update</a>
                            <a href="/links/deleteP/{{idprov}}" class="btn btn-danger mx-auto">Delete</a>
                        </td>
                        </tr>
                        {{else}}
                            <div class="col-md-3 mx-auto p-1">
                                    <p>No hay registros</p>
                                    <a href="/links/addP" class="btn btn-info">Ingresar Uno</a>
                            </div>
                    {{/each}}                                
                </tbody>
            </table>
        </div>
       
    </div>
</div>